
.header {
    background-color: black;
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
    padding-left: 30px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: -1px;
    padding-right: 50px;
}

.header2 {
    display: flex;
    justify-content: center;
}

.leftNright {
    display: flex;
    justify-content: space-between;
} 

.leftside{
    background-color: white;
    border-style: groove;
    height: 180px;
    width: 150px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.leftNright img, a, h3 {
    font-family: sans-serif;
}

.rightside {
    margin-right: 230px;
    margin-top: -20px;
}

.container1 {
    border-style: groove;
    height: 150px;
    width: 380px;
    padding-left: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    justify-content: space-between;
}


.submit {
    background-color: rgb(243, 200, 7);
    box-shadow: 2px 2px 5px black;
    font-family: sans-serif;
}

.p {
    font-family: sans-serif;
}
